# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^docs/themes/hugo-book|^vendor|.*golden$|^\.vale)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-json
  - id: check-vcs-permalinks
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.28.0
  hooks:
    - id: yamllint
- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
    - id: go-fmt
    - id: go-vet
    - id: validate-toml
    - id: no-go-testing
    - id: golangci-lint
    - id: go-unit-tests
    - id: go-build
